/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

/* Body */
body {
  background: #f5f5f5;
}

/* Header */
header {
  background: #fff;
  padding: 15px 30px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}
header img{
  width: 50px;
  height: 50px;

}

header h1 {
  font-size: 26px;
  font-weight: bold;
  color: #333;
}

.search-box {
  position: relative;
}

.search-box input {
  padding: 10px 15px;
  padding-left: 40px;
  border-radius: 25px;
  border: 1px solid #ccc;
  width: 230px;
  outline: none;
}

.search-box img {
  position: absolute;
  left: 12px;
  top: 10px;
  width: 20px;
  opacity: 0.6;
}

/* Hero Section */
.hero {
  background: linear-gradient(to right, #7b4dff, #ff4db8);
  color: white;
  padding: 60px 20px;
  text-align: center;
}

.hero h2 {
  font-size: 40px;
  font-weight: bold;
}

.hero p {
  margin-top: 10px;
  font-size: 18px;
}

/* Product Grid */
.product-grid {
  padding: 30px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(230px, 1fr));
  gap: 25px;
}
.category-title {
  font-size: 28px;
  font-weight: bold;
  margin: 20px 0 10px 30px;
}


.product-card {
  background: #fff;
  border-radius: 15px;
  padding: 20px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
  transition: 0.3s;
  cursor: pointer;
}

.product-card:hover {
  transform: scale(1.05);
}

.product-card img {
  width: 100%;
  border-radius: 12px;
  margin-bottom: 15px;
}

.product-card h3 {
  font-size: 18px;
  font-weight: 600;
}

.product-card p {
  margin-top: 8px;
  color: #7b4dff;
  font-weight: bold;
  font-size: 18px;
}

.product-card button {
  margin-top: 12px;
  width: 100%;
  background: #7b4dff;
  color: white;
  border: none;
  padding: 10px 0;
  border-radius: 10px;
  font-size: 15px;
  cursor: pointer;
  transition: 0.3s;
}

.product-card button:hover {
  background: #5d36e6;
}

/* Footer */
footer {
  background: #333;
  color: white;
  text-align: center;
  padding: 20px;
  margin-top: 40px;
}
